:root {
 --dark: rgb(25,25,25);
 --light: rgb(255,255,255);
 --primary: rgb(225,125,125);
 --secondary: rgb(0,125,225);
 --accent: rgb(0,225,225);
 --warning: rgb(225,225,0);
 --danger: rgb(225,0,0);
 --success: rgb(0,225,0);
 --info: rgb(0,0,225);
 --white: #ffffff;
 --black: #000000;
 --border-radius: 0.5rem;
 --line-height: 1.2;
 font-family: Arial, Helvetica, sans-serif;
}

.dark {
 background-color: var(--dark);
 color: var(--light);
}

.light {
 background-color: var(--light);
 color: var(--dark);
}

.primary {
 background-color: var(--primary);
 color: var(--light);
}

.secondary {
 background-color: var(--secondary);
 color: var(--light);
}

.accent {
 background-color: var(--accent);
 color: var(--light);
}

.warning {
 background-color: var(--warning);
 color: var(--light);
}

.danger {
 background-color: var(--danger);
 color: var(--light);
}

.success {
 background-color: var(--success);
 color: var(--light);
}

.info {
 background-color: var(--info);
 color: var(--light);
}

.white {
 background-color: var(--white);
 color: var(--dark);
}

.black {
 background-color: var(--black);
 color: var(--light);
}

*, *::before, *::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}